In [ ]:
import pandas as pd
import json

In [ ]:
df = pd.read_csv("/content/test3_1.csv")

In [ ]:
df

,Doc.Num,Itm.no,Bill Date,Currency,Payer City,Invoice Quantity,MRP Value,Cost Price,Taxable Amount,Total Tax,Total Amount,MRP Price
0,1823137837,12,16-04-2022,INR,NIZAMABAD,300,300,4836.0,68.64,12.36,81.00,1
1,1823138032,12,16-04-2022,INR,GUNTUR,11,66,18040.0,40.83,7.35,48.18,6
2,1823138032,22,16-04-2022,INR,GUNTUR,4,28,8880.0,17.32,3.12,20.44,7
3,1823138032,32,16-04-2022,INR,GUNTUR,28,140,21280.0,86.61,15.59,102.20,5
4,1823143995,10,16-04-2022,INR,BENGALURU,1,1899,585.0,676.42,33.82,710.24,1899
5,1823144994,12,16-04-2022,INR,HUBLI,400,400,6448.0,108.00,0.00,108.00,1
6,1823146501,10,16-04-2022,INR,BENGALURU,1,1599,340.0,516.39,26.36,542.75,1599
7,1823146527,12,16-04-2022,INR,MANCHERIAL,300,300,4836.0,68.64,12.36,81.00,1
8,1823146661,12,16-04-2022,INR,HYDERABAD,1,2399,504.2,753.97,37.70,791.67,2399

In [ ]:
lst = []
for i in range(len(df)):
  lst.append(df.iloc[i].to_json())

In [ ]:
jsn_dmp = json.dumps(lst, indent = 4)

In [ ]:
with open("final.json", "w") as out:
    out.write(jsn_dmp)

In [ ]:
jsn_dmp

'[\n    "{\\"Doc.Num\\":1823137837,\\"Itm.no\\":12,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"NIZAMABAD\\",\\"Invoice Quantity\\":300,\\"MRP Value\\":300,\\"Cost Price\\":4836.0,\\"Taxable Amount\\":68.64,\\"Total Tax\\":12.36,\\"Total Amount\\":81.0,\\"MRP Price\\":1}",\n    "{\\"Doc.Num\\":1823138032,\\"Itm.no\\":12,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"GUNTUR\\",\\"Invoice Quantity\\":11,\\"MRP Value\\":66,\\"Cost Price\\":18040.0,\\"Taxable Amount\\":40.83,\\"Total Tax\\":7.35,\\"Total Amount\\":48.18,\\"MRP Price\\":6}",\n    "{\\"Doc.Num\\":1823138032,\\"Itm.no\\":22,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"GUNTUR\\",\\"Invoice Quantity\\":4,\\"MRP Value\\":28,\\"Cost Price\\":8880.0,\\"Taxable Amount\\":17.32,\\"Total Tax\\":3.12,\\"Total Amount\\":20.44,\\"MRP Price\\":7}",\n    "{\\"Doc.Num\\":1823138032,\\"Itm.no\\":32,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"GUNTUR\\",\\"Invoice Quantity\\":28,\\"MRP Value\\":140,\\"Cost Price\\":21280.0,\\"Taxable Amount\\":86.61,\\"Total Tax\\":15.59,\\"Total Amount\\":102.2,\\"MRP Price\\":5}",\n    "{\\"Doc.Num\\":1823143995,\\"Itm.no\\":10,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"BENGALURU\\",\\"Invoice Quantity\\":1,\\"MRP Value\\":1899,\\"Cost Price\\":585.0,\\"Taxable Amount\\":676.42,\\"Total Tax\\":33.82,\\"Total Amount\\":710.24,\\"MRP Price\\":1899}",\n    "{\\"Doc.Num\\":1823144994,\\"Itm.no\\":12,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"HUBLI\\",\\"Invoice Quantity\\":400,\\"MRP Value\\":400,\\"Cost Price\\":6448.0,\\"Taxable Amount\\":108.0,\\"Total Tax\\":0.0,\\"Total Amount\\":108.0,\\"MRP Price\\":1}",\n    "{\\"Doc.Num\\":1823146501,\\"Itm.no\\":10,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"BENGALURU\\",\\"Invoice Quantity\\":1,\\"MRP Value\\":1599,\\"Cost Price\\":340.0,\\"Taxable Amount\\":516.39,\\"Total Tax\\":26.36,\\"Total Amount\\":542.75,\\"MRP Price\\":1599}",\n    "{\\"Doc.Num\\":1823146527,\\"Itm.no\\":12,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"MANCHERIAL\\",\\"Invoice Quantity\\":300,\\"MRP Value\\":300,\\"Cost Price\\":4836.0,\\"Taxable Amount\\":68.64,\\"Total Tax\\":12.36,\\"Total Amount\\":81.0,\\"MRP Price\\":1}",\n    "{\\"Doc.Num\\":1823146661,\\"Itm.no\\":12,\\"Bill Date\\":\\"16-04-2022\\",\\"Currency\\":\\"INR\\",\\"Payer City\\":\\"HYDERABAD\\",\\"Invoice Quantity\\":1,\\"MRP Value\\":2399,\\"Cost Price\\":504.2,\\"Taxable Amount\\":753.97,\\"Total Tax\\":37.7,\\"Total Amount\\":791.67,\\"MRP Price\\":2399}"\n]'